:root {
  --background-theme: #e6e9f0;
  --text-color: #000;
}

*,
html {
  margin: 0px;
  padding: 0px;
  font-size: 10px;

  color: var(--text-color);
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--background-theme);
}

h1 {
  font-size: 3.2rem;
}

p {
  font-size: 1.2rem;
}

.bg-light {
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-outline-dark:hover {
  background-color: #214053;
  border-color: #214053;
  color: white;

  span {
    color: white;
  }
  svg {
    fill: white;
  }
}

.login_section {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-btn {
  background-color: #214053;
  color: white;
}

.login-btn:hover {
  border: 1px solid rgb(212, 212, 212);
  background-color: #384d5a;
  color: white;
}

.invalid-feedback {
  color: red;
  font-size: 0.9em;
  display: block;
  margin-top: 0.25rem;
}

.accounts_container {
  height: 550px;
  border-radius: 10px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
  background-color: #fcfcfc;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.accounts_image img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.accounts_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.accounts_col form .form-group {
  position: relative;
}

.accounts_col form .form-control {
  font-size: 1.6rem;
  padding: 20px 10px;
  margin-bottom: 20px;
  background: transparent;
}

.accounts_col form label,
.accounts_col form .form-group i {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  left: 10px;
  transition: 0.2s linear;
}

.accounts_col form label.change_label {
  background-color: #fcfcfc;
  transform: scale(0.8);
  top: 0;
}

.accounts_col form .form-group i {
  right: 10px;
  cursor: pointer;
}

.register_btn {
  padding: 10px 0;
  font-size: 1.6rem;
  font-weight: 600;
}

.already_member_box p,
.already_member_box span {
  cursor: pointer;
  font-size: 1.2rem;
}

.signup_form {
  display: block;
}

@media (max-width: 992px) {
  .accounts_container {
    flex-direction: column;
    height: auto;
  }

  .accounts_image img {
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .accounts_col {
    width: 100%;
    padding: 20px;
  }
}
