#main-container {
  background-color: #f8f8f8;
  width: calc(100vw - 80px);
  height: calc(100vh - 20px);
  padding: 10px 30px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto 1fr;
  gap: 10px;
}

.content-box {
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  box-shadow: 0.25em 0.25em 0.625em #f2f2f2;
  padding: 1vh 1vw;
}

.title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-height: 50%;
  padding: 1vh 1vw;

  font-size: clamp(20px, 2.5vw, 25px);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title span {
  margin-left: 1vmin;

  font-size: clamp(12px, 1.5vw, 15px);
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

#main-order {
  grid-column: 1/7;
  grid-row-start: 1;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

#main-order p {
  max-height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;

  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#main-order p span {
  background-color: #3f72b9;
  border: 1px solid #3f72b9;
  border-radius: 0.5em;
  width: fit-content;
  padding: 1vh 1vw;
  margin: 1vh 1vw;

  color: #ffffff;
  font-size: clamp(15px, 2vw, 20px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#main-notice {
  grid-column: 1/3;
  grid-row-start: 2;
}

#main-popular-product {
  grid-column: 3/5;
  grid-row-start: 2;
}

#main-popular-hashtag {
  grid-column: 5/7;
  grid-row-start: 2;
}

#main-popular-hashtag .list-center {
  background-color: #3f72b9;
  border: 1px solid #3f72b9;
  border-radius: 0.5em;
  width: fit-content;
  padding: 0.25vh 0.25vw;

  font-size: clamp(10px, 1.2vw, 12px);
  color: #ffffff;
}

.list {
  border-bottom: 1px solid gray;
  margin: 0px 1vmin 1vmin 1vmin;
}

.sort {
  height: 2vh;
  padding: 1vh 1vw;

  display: flex;
  align-items: center;
  justify-content: right;

  font-size: clamp(10px, 1.2vw, 12px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sort select {
  background-color: #313443;
  border: 1px solid #313443;
  border-radius: 5px;

  font-size: clamp(10px, 1.2vw, 12px);
  font-weight: 400;
  color: #ffffff;
}

.list-titles {
  height: 2vh;
  padding: 1vh 1vw;

  font-size: clamp(10px, 1.2vw, 12px);

  display: flex;
  justify-content: space-between;
}

.list-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list li {
  border-top: 1px solid gray;
  height: 2.5vh;
  padding: 1vh 1vw;

  display: flex;
  text-align: left;
  justify-content: space-between;
}

.list li span,
.list li a {
  font-size: clamp(12px, 1.5vw, 15px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-side {
  width: fit-content;
}

.list-center {
  width: 70%;
}

.list a {
  color: inherit;
}

#main-sales-chart {
  grid-column: 1/4;
  grid-row-start: 3;
}

#main-sales-chart p {
  height: 2vh;
  padding: 1vh 1vw;
  margin: 0px 1vw;

  display: flex;
  align-items: center;
  justify-content: right;
}

#main-sales-chart p select {
  background-color: #313443;
  border: 1px solid #313443;
  border-radius: 5px;

  font-size: clamp(12px, 1.5vw, 15px);
  font-weight: 400;
  color: #ffffff;
}

.week-chart {
  height: 75%;

  margin: 0px 1vmin 1vmin 1vmin;
}

#main-sales-calendar {
  grid-column: 4/7;
  grid-row-start: 3;
}

#calendar *:not(.title):not(.year-month):not(p) {
  box-sizing: border-box;

  font-size: clamp(10px, 1.2vw, 12px);
}

#calendar {
  margin: 0px 1vw;
}

.year-month {
  height: 2vh;
  padding: 1vh 1vw;

  display: flex;
  align-items: center;
  justify-content: right;

  font-size: clamp(12px, 1.5vw, 15px);
  font-weight: bold;
}

.weeks {
  border-top: 1px solid black;
  border-left: 1px solid black;
  height: 3vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.week {
  border-right: 1px solid black;
  width: calc(100% / 7);
  height: 100%;
  padding: 1vh 1vw;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: clamp(12px, 1.5vw, 15px);
  font-weight: bold;
  text-align: center;
}

.days {
  border-top: 1px solid black;
  border-left: 1px solid black;

  display: flex;
  flex-flow: row wrap;
}

.day {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  width: calc(100% / 7);
  height: 4.5vh;
  padding: 0.5vh 0.5vw;

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: clamp(10px, 1.2vw, 12px);
  text-align: left;
}

.today {
  background-color: #3f7ab5;
  color: white;
}

.day-number {
  height: 3vh;

  font-weight: bold;
}

.day-sale {
  height: 3vh;

  color: black;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.day-sale-detail {
  background-color: navy;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  padding: 1vmin;
  opacity: 1;

  color: white;

  display: none;
  position: relative;
  right: 50%;
}

.day:hover .day-number,
.day:hover .day-sale {
  display: none;
}

.day:hover .day-sale-detail {
  display: block;
  opacity: 1;
}

.other {
  background-color: #f0f0f0;
}

.other div {
  opacity: 0.3;
}

.week:nth-child(7n + 1),
.day:nth-child(7n + 1) {
  color: red;
}

.holiday {
  color: red;
}

.week:nth-child(7n),
.day:nth-child(7n) {
  color: blue;
}
