#main-container {
  background-color: #f8f8f8;
  width: calc(100vw - 80px);
  height: calc(100vh - 20px);
  padding: 10px 30px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto 1fr;
  gap: 10px;

  text-align: center;
}

.content-box {
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 0.5em;
  box-shadow: 0.25em 0.25em 0.625em #f2f2f2;
  padding: 0;
}

.title {
  background-color: skyblue;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  max-height: 50%;
  padding: 10px;

  font-size: clamp(15px, 2vw, 20px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title span {
  margin-left: 1vw;

  font-size: clamp(10px, 1.5vw, 15px);
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

#main-order {
  grid-column: 1/7;
  grid-row-start: 1;
}

#main-order p {
  max-height: 50%;

  display: flex;
  align-items: center;
  justify-content: space-around;

  text-align: center;
}

#main-order p span {
  width: 25%;
  padding: 10px;

  font-size: clamp(10px, 1.5vw, 15px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#main-order p span:nth-child(1),
#main-order p span:nth-child(2),
#main-order p span:nth-child(3) {
  border-right: 1px solid gray;
}

.list {
  border-bottom: 1px solid gray;
  margin: 5px;
}

.sort {
  height: 10px;
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: right;

  font-size: clamp(10px, 1vw, 12px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sort select {
  font-size: clamp(8px, 1vw, 10px);
}

.list-titles {
  padding: 5px;

  display: flex;
  justify-content: space-between;
}

.list-title {
  font-size: clamp(10px, 1vw, 12px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list li {
  border-top: 1px solid gray;
  padding: 5px;

  display: flex;
  text-align: center;
  justify-content: space-between;
}

.list li span,
.list li a {
  font-size: clamp(10px, 1vw, 12px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-side {
  width: 10%;
}

.list-center {
  width: 70%;
}

.list a {
  color: inherit;
}

#main-notice {
  grid-column: 1/3;
  grid-row-start: 2;
}

#main-popular-product {
  grid-column: 3/5;
  grid-row-start: 2;
}

.main-popular-product-list {
  background-color: y;
  color: black;
}

#main-hashtag {
  grid-column: 5/7;
  grid-row-start: 2;
}

#main-sales-chart {
  grid-column: 1/4;
  grid-row-start: 3;
}

#main-sales-chart p {
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: right;
}

#main-sales-chart p select {
  font-size: clamp(8px, 1vw, 10px);
}

.week-chart {
  width: auto;
  height: 70%;
  margin: 0px 5px;
}

#main-sales-calendar {
  grid-column: 4/7;
  grid-row-start: 3;
}

#calendar *:not(.title):not(.year-month):not(p) {
  box-sizing: border-box;

  font-size: clamp(10px, 1vw, 12px);
}

#calendar {
  max-height: 70%;
  padding: 0px 20px 5px 20px;
}

.year-month {
  box-sizing: border-box;
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: clamp(15px, 2vw, 20px);
  font-weight: bold;
}

.weeks {
  border-top: 1px solid black;
  border-left: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: center;
}

.week {
  border-right: 1px solid black;
  width: calc(100% / 7);
  padding: 5px 0px;

  font-weight: bold;
  text-align: center;
}

.days {
  border-top: 1px solid black;
  border-left: 1px solid black;

  display: flex;
  flex-flow: row wrap;
}

.day {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  width: calc(100% / 7);
  min-height: 42px;
  padding: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: left;
}

.day:has(.today) {
  border: 3px solid orange;
}

.day-number {
  font-weight: bold;
}

.day-sale {
  color: black;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.day-sale-detail {
  background-color: navy;
  margin: 0;
  padding: 10px;
  opacity: 1;

  width: fit-content;
  height: fit-content;

  color: white;

  display: none;
  position: relative;
}

.day:hover .day-number,
.day:hover .day-sale {
  display: none;
}

.day:hover .day-sale-detail {
  display: block;
  opacity: 1;
}

.other {
  background-color: #f0f0f0;
}

.other div {
  opacity: 0.3;
}

.week:nth-child(7n + 1),
.day:nth-child(7n + 1) {
  color: red;
}

.holiday {
  color: red;
}

.week:nth-child(7n),
.day:nth-child(7n) {
  color: blue;
}
