#main-container {
  width: calc(100vw - 80px);
  height: calc(100vh - 20px);
  padding: 10px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto 2fr 3fr;
  grid-gap: 10px;

  .content-box {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1vh;

    h1 {
      border: 1px solid black;
      max-height: calc(50% - 2vh);
      padding: 1vh;

      display: flex;
      align-items: center;
      justify-content: center;

      font-size: clamp(12px, 2.5vmin, 25px);
      white-space: nowrap;
    }

    ul,
    ol {
      border-bottom: 1px solid gray;

      font-size: clamp(10px, 2vmin, 20px);

      p {
        height: 3vmin;
        padding: 1vh;

        display: flex;
        align-items: center;
        justify-content: right;

        font-size: clamp(10px, 2vmin, 20px);

        select {
          height: 100%;
          font-size: clamp(10px, 2vmin, 20px);
        }
      }

      li {
        border-top: 1px solid gray;
        padding: 1vh;

        a {
          text-decoration: none;
          color: inherit;

          span {
            float: right;

            font-size: clamp(7.5px, 1.5vmin, 15px);
          }
        }
      }
    }
  }
}

#main-order {
  grid-column: 1/7;
  grid-row-start: 1;

  p {
    max-height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    span {
      width: 25%;
      height: 100%;
      padding: 1vh;

      display: flex;
      align-items: center;
      justify-content: space-around;

      font-size: clamp(12px, 2.5vmin, 25px);
      white-space: nowrap;
    }
  }
}

#main-notice {
  grid-column: 1/3;
  grid-row-start: 2;
}

#main-popular-product {
  grid-column: 3/5;
  grid-row-start: 2;
}

#main-hashtag {
  grid-column: 5/7;
  grid-row-start: 2;
}

#main-sales-chart {
  grid-column: 1/4;
  grid-row-start: 3;

  div {
    background-color: yellow;
    height: 3vmin;
    padding: 1vh;

    display: flex;
    align-items: center;
    justify-content: right;

    select {
      height: 100%;
      font-size: clamp(10px, 2vmin, 20px);
    }
  }

  .week-chart {
    border: 1px solid black;
    min-height: 75%;
  }
}

#main-sales-calendar {
  grid-column: 4/7;
  grid-row-start: 3;
}