body {
  background-color: #f8f8f8;
  color: #4b5675;
  user-select: none;
}

h2 {
  color: black;
}

.container {
  display: grid;
  grid-template-rows: 50px 1fr;
}

.container h1 {
  margin: 10px 0 0 20px;
}

.main {
  display: grid;
  grid-template-columns: 7fr 3fr;
}

section {
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 0.5em;
  box-shadow: 0.25em 0.25em 0.625em #f2f2f2;
}

.main h2 {
  margin: 10px;
  text-align: center;
  font-size: 1.6em;
}

.section-1 {
  width: 60vw;
  height: 88vh;
  margin: 0 20px;
  padding: 10px 20px;
}

.section-1 .box {
  background-color: #f8f8f8;
  border: 1px solid #f2f2f2;
  border-radius: 0.5em;
  padding: 10px 0;
}

.item,
ul .product-info {
  display: grid;
  grid-template-columns: 3fr 70px 100px 50px 110px;
  grid-gap: 20px;
  text-align: center;
  font-weight: bold;
}

.item {
  font-weight: bolder;
  color: #000;
}

ul .product-info {
  align-items: center;
  margin-top: 10px;
}

ul .product-info > a {
  color: black;
  font-weight: bold;
}

ul .product-info .product-name {
  display: flex;
  align-items: center;
}

ul .product-info .product-name img {
  width: 50px;
  margin: 0 10px;
  border-radius: 10%;
}

.pages {
  text-align: center;
  position: absolute;
  bottom: 3.5%;
  left: 30%;
}

.pages span {
  margin-right: 30px;
}

.pages span:hover,
.page-number.active {
  cursor: pointer;
  color: rgb(29, 5, 250);
  font-weight: bold;
}

.row {
  display: grid;
  grid-template-rows: 1.5fr 1fr;
  grid-gap: 20px;
  height: 90vh;
}

.row ul {
  margin: 10px 20px 0px 20px;
}

.row ul li {
  text-align: center;
  margin: 10px;
}

.row ul .rank {
  font-size: 20px;
}

.section-2 .temp {
  display: flex;
  justify-content: space-between;
}

.section-2 .temp > form {
  margin-right: 10px;
}

.section-2,
.section-3 {
  width: 25vw;
}

.section-2 h2,
.section-3 h2 {
  margin-bottom: 10px;
}

.section-2 .hashtag-rank,
.section-3 .sales-rank {
  display: grid;
  grid-template-columns: 50px 3fr;
}

.section-2 .hashtag-rank-list {
  background-color: #f8f8f8;
  border-radius: 5px;
  padding: 1px 0px 2px 0px;
  height: 37.5vh;
}

.section-3 .platform-sales-rank {
  background-color: #f8f8f8;
  height: 25.5vh;
  border-radius: 5px;
}

.section-3 .sales-rank {
  grid-template-columns: 50px 2fr 120px;
}
.section-3 .platform-sales-rank :nth-child(1) {
  padding-top: 10px;
}

.section-3 .sales-rank > div {
  align-content: center;
}

/* ------------------------------드롭다운------------------------------ */

.sort {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

input[type='date'],
select {
  background-color: #b0b8c8;
  color: #ffffff;
  padding: 5px 10px;
  border: 1px solid #b0b8c8;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 400;
  outline: none;
  margin-left: 10px;
}

select {
  appearance: none;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}

.frame {
  margin-left: 10px;
}

select:hover,
select:focus {
  border-color: #b0b8c8;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
}

select:disabled {
  opacity: 0.5;
}

label {
  font-size: 1rem;
  font-weight: 600;
  color: #444;
}

.sort {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.justify-date {
  display: flex;
  align-items: center;
}

.sort form label {
  font-size: 0;
}

optgroup {
  margin: 0;
}

.custom-btn {
  border-radius: 5px;
  padding: 5px 12px;
  border: 2px solid #b0b8c8;
  font-size: 1rem;
  font-weight: 400;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-13 {
  color: #b0b8c8;
  z-index: 1;
}

.btn-13:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #b0b8c8;
  transition: all 0.3s ease;
}

.btn-13:hover {
  color: #fff;
}

.btn-13:hover:after {
  top: 0;
  height: 100%;
}

.btn-13:active {
  top: 2px;
}
