body {
  background-color: #f8f8f8;
  color: #4b5675;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}

h2 {
  color: black;
}

.main {
  display: grid;
  grid-template-columns: 7fr 3fr;
}

.container {
  display: grid;
  grid-template-rows: 50px 1fr;
}

.container h1 {
  margin: 10px 0px 0px 20px;
}

section {
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 0.5em;
  box-shadow: 0.25em 0.25em 0.625em #f2f2f2;
}

.main h2 {
  margin: 10px;
  text-align: center;
  font-size: 1.7em;
}

.section-1 {
  width: 60vw;
  height: 88vh;
  margin: 0px 20px 0px 20px;
  padding: 10px 30px 10px 30px;
  position: inherit;
}

.section-1 .box {
  background-color: #f8f8f8;
  border: 1px solid #f2f2f2;
  border-radius: 0.5em;
  padding: 10px 0px;
}

.item {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  text-align: center;
  font-weight: bold;
  color: black;
}

.item :nth-child(1) {
  text-align: center;
}

ul .product-info {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  text-align: center;
  align-items: center;
  margin-top: 10px;
}

ul .product-info > a {
  color: black;
  font-weight: bold;
}

ul .product-info .product-name {
  display: flex;
  align-items: center;
}

ul .product-info .product-name img {
  width: 50px;
  margin: 0px 10px;
  border-radius: 10%;
}

.pages {
  text-align: center;
  position: absolute;
  bottom: 3.5%;
  left: 30%;
}

.pages :hover {
  cursor: pointer;
}

.pages > span {
  margin-right: 30px;
}

.page-number.active {
  color: rgb(29, 5, 250);
  font-weight: bold;
}

.row {
  display: grid;
  grid-template-rows: 1.5fr 1fr;
  grid-gap: 20px;
  height: 90vh;
}

.row ul {
  margin: 20px 0px 30px 10px;
}

.row ul li {
  text-align: center;
  margin-bottom: 10px;
}

.row ul .rank {
  font-size: 20px;
}

.section-2 {
  width: 25vw;
}

.section-2 h2 {
  margin-top: 20px;
}

.section-2 .hashtag-rank {
  display: grid;
  grid-template-columns: 50px 3fr 50px;
  margin-bottom: 20px;
}

.section-2 > form {
  text-align: end;
  margin: 10px 20px 0px 0px;
}

.section-3 {
  width: 25vw;
}

.section-3 h2 {
  margin-top: 20px;
}

.section-3 .sales-rank {
  display: grid;
  grid-template-columns: 30px 3fr 1fr;
}

.section-3 .sales-rank > div {
  align-content: center;
}

.container .item #product-name img {
  display: inline-block;
  width: 50px;
}

/* ------------------------------드롭다운------------------------------ */

.sort {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 10px 0px;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  color: #444;
  background-color: #fff;

  padding: 0.3em 1.4em 0.2em 0.8em;
  margin: 0;

  border: 1px solid #aaa;
  border-radius: 0.5em;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}

.sort form #classification {
  padding-right: 0em;
}

select:hover {
  border-color: #888;
}

select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

select:disabled {
  opacity: 0.5;
}

label {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3;

  color: #444;

  margin-right: 0.5em;
}

optgroup {
  margin: 0px;
}

.section-1 .sort form > label {
  font-size: 0px;
}
