/* 8.11수정 */

main {
  width: calc(100vw - 80px);
  /* margin-left: 80px; */
  height: 100vh;
  background-color: #f8f8f8;
}
h1 {
  padding-left: 5vw;
  padding-top: 1.5vh;
}
.container {
  display: flex;
  justify-content: space-between; /* 요소 사이의 공간을 균등하게 분배 */
  align-items: flex-start; /* 상단 정렬 */
  box-sizing: border-box;
  padding-left: 5vw;
  padding-right: 5vw;
}
.container:first-of-type {
  padding-top: 2vh;
}
.container:last-of-type {
  padding-top: 3vh;
  padding-bottom: 2vh;
}
.container h2 {
  padding-left: 3vw;
  padding-top: 1.5vh;
  padding-bottom: 1vh;
}
/* 컨테이너 섹션-------------------------------------------------------------- */
/* 상품정보 */
.product-info {
  border: 1px solid #f2f2f2;
  border-radius: 0.5em;
  box-shadow: 0.25em 0.25em 0.625em #f2f2f2;
  width: 58vw;
  height: 38vh;
  background-color: #ffffff;
  /* flex-direction: row; */
}
/* 해시태그 비교 */
#hashtag-comparison {
  border: 1px solid #f2f2f2;
  border-radius: 0.5em;
  box-shadow: 0.25em 0.25em 0.625em #f2f2f2;
  width: 25vw;
  height: 38vh;
  background-color: #ffffff;
  /* margin-left: 1vw; */
  /* flex-direction: ; */
}
/* 종합분석 */
#total-analysis {
  border: 1px solid #f2f2f2;
  border-radius: 0.5em;
  box-shadow: 0.25em 0.25em 0.625em #f2f2f2;
  width: 41.5vw;
  height: 45vh;
  background-color: #ffffff;
}
/* 플랫폼분석 */
#platform-analysis {
  border: 1px solid #f2f2f2;
  border-radius: 0.5em;
  box-shadow: 0.25em 0.25em 0.625em #f2f2f2;
  width: 41.5vw;
  height: 45vh;
  background-color: #ffffff;
}

/* 섹션 컨텐츠 ------------------------------------------------------------------ */
.product-img {
  width: 200px;
  height: 200px;
}
/* 상품정보 컨텐츠 */
.product-detail-info {
  border: 1px solid red;
  display: flex;
  text-align: left;
  padding-left: 3vw;
  padding-right: 3vw;
  /* padding-bottom: 5vh; */
}

.product-detail-info-table1 {
  border: 1px solid blue;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  text-align: left;
  /* padding-top: 2vh; */
  /* padding-bottom: 2vh; */
  padding-left: 5vh;
  /* padding-right: 5vh; */
}
#product-detail-info-table1-basic {
  border: 2px solid yellow;
  width: 100%;
  height: 17vh;
  padding-bottom: 1vh;
}
#product-detail-info-table1-basic tr {
  height: 3vh;
}
#product-detail-info-table1-basic tr td:first-child {
  color: black;
  font-weight: bold;
  width: 7vw;
}
#product-detail-info-table1-basic tr td:last-child {
  color: #4b5675;
}
/* #product-detail-info-table1-basic tr td :last-child {
  color: black;
  font-weight: bold;

} */
/* -------------------------------------------------------------------- */
.product-detail-info-table2 {
  border: 2px solid green;
  display: flex;
  justify-content: first baseline;
  align-items: flex-start; /* 상단 정렬 */
  text-align: left;
  height: 9.5vh;
  width: 100%;
  padding-top: 1vh;
}
.product-detail-info-table2 tr {
  height: 3vh;
}
/* .product-detail-info-table2 td {
  border: 1px solid salmon;
} */
.product-detail-info-table2 table:first-child {
  padding-right: 5vh;
}
/* 평균가, 최고가, 최저가 */
.product-detail-info-table2-price tr td:first-child {
  color: black;
  font-weight: bold;
  width: 5vw;
}
.product-detail-info-table2-price tr td:last-child {
  color: #4b5675;
  width: 6vw;
  text-align: right;
  /* justify-self: right; */
}
/* 총매출, 핵심키워드, 등록일 */
.product-detail-info-table2-etc tr td:first-child {
  color: black;
  font-weight: bold;
  width: 7vw;
}
.product-detail-info-table2-etc tr td:last-child {
  color: #4b5675;
  width: 15vw;
}
.product-info hr {
  color: #dbdfe9;
}
/* 해시태그 비교 ---------------------------------------------------------------------- */
.hashtag-comparison-content {
  border: 1px solid red;
  display: flex;
  /* text-align: left; */
  padding-left: 3vw;
  padding-right: 3vw;
  /* padding-bottom: 5vh; */
  flex-direction: column;
  /* height: ; */
}
.hashtag-comparison-graph {
  border: 1px solid yellow;
  display: flex;
  flex-direction: row;
  height: 7vh;
  /* justify-items: center; */
  align-items: center;
  justify-content: first baseline;
}
.hashtag-comparison-bar-graph {
  display: flex;
  justify-content: space-between;
  width: 14.5vw; /* 그래프 전체 너비 */
}

.hashtag-comparison-bar {
  width: 2.9vw; /* 각 막대 너비 */
  height: 3.5vh; /* 각 막대 높이 */
  background-color: #e0e3e9; /* 막대 배경색 */
  position: relative;
}

.hashtag-comparison-bar.good {
  background-color: #39a1f4; /* 채워진 막대의 색상 */
}
.hashtag-comparison-bar.normal {
  background-color: #ffce38; /* 채워진 막대의 색상 */
}
.hashtag-comparison-bar.bad {
  background-color: #e25959; /* 채워진 막대의 색상 */
}
.hashtag-comparison-good {
  width: 40px;
  height: 25px;
  padding: 1px;
  border: 2px solid #39a1f4;
  color: #39a1f4;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  line-height: 25px;
}
.hashtag-comparison-normal {
  width: 40px;
  height: 25px;
  padding: 1px;
  border: 2px solid #ffce38;
  color: #ffce38;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  line-height: 25px; /* height와 동일하게 설정 */
}

.hashtag-comparison-bad {
  width: 40px;
  height: 25px;
  padding: 1px;
  border: 2px solid #e25959;
  color: #e25959;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  line-height: 25px; /* height와 동일하게 설정 */
}
.hashtags-comparison {
  border: 1px solid green;
  height: 22vh;
  border-collapse: collapse;
}
.hashtags-comparison th {
  border-bottom: 1px solid #dbdfe9;
}
.hashtags-comparison td {
  color: #4b5675;
  text-align: center;
  border-bottom: 1px dotted #dbdfe9;
  /* border top: 1px solid palevioletred; */
  width: 50%;
}

.hashtag-comparison-bar-graph {
  padding-left: 2vw;
}
/* 종합분석---------------------------------------------- */
.total-analysis-content {
  border: 1px solid red;
  display: flex;
  /* text-align: left; */
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 5vh;
  padding-top: 2vh;
  flex-direction: column;
  /* height: ; */
}
.total-analysis-table {
  border: 1px solid green;
}
.total-analysis-table td {
  border: 1px solid green;
  height: 7vh;
}

.total-analysis-table tr td:first-child {
  font-weight: bold;
  width: 8vw;
  font-size: large;
}
.total-analysis-status-null {
  width: 40px;
  height: 25px;
  padding: 1px;
  border: 2px solid #b0b8c8;
  color: #b0b8c8;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  line-height: 25px; /* height와 동일하게 설정 */
}
.total-analysis-status-good {
  width: 40px;
  height: 25px;
  padding: 1px;
  border: 2px solid #39a1f4;
  color: #39a1f4;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  line-height: 25px; /* height와 동일하게 설정 */
}
.total-analysis-status-normal {
  width: 40px;
  height: 25px;
  padding: 1px;
  border: 2px solid #ffce38;
  color: #ffce38;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  line-height: 25px; /* height와 동일하게 설정 */
}

.total-analysis-status-bad {
  width: 40px;
  height: 25px;
  padding: 1px;
  border: 2px solid #e25959;
  color: #e25959;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  line-height: 25px; /* height와 동일하게 설정 */
}
/* .total-analysis-table {

  font-size: smaller;
  padding: 3px 0 3px 1vw;
} */
.total-analysis-table tr td:nth-child(3) p {
  font-size: smaller;
  padding: 3px 0 3px 1vw;
}
/* 플랫폼 분석---------------------------------------------- */
.platform-analysis-content {
  border: 1px solid red;
  display: flex;
  /* text-align: left; */
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 5vh;
  padding-top: 2vh;
  flex-direction: column;
  /* height: ; */
}
.platform-analysis-table {
  border: 1px solid green;
}
.platform-analysis-table td {
  border: 1px solid green;
  height: 7vh;
}

.platform-analysis-table tr td:first-child {
  font-weight: bold;
  width: 8vw;
  font-size: large;
}

.total-analysis-coment {
  /* width: 7vw;
  height: 7vh; */
  font-size: smaller;
  padding: 3px 0 3px 1vw;
}
.platform-analysis-table tr td:nth-child(2) p {
  font-size: smaller;
  padding: 3px 0 3px 1vw;
}
