main {
  width: calc(100vw - 80px);
  height: 100vh;
  background-color: #f8f8f8;
}
h1 {
  padding-left: 5vw;
  padding-top: 1.5vh;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  padding-left: 5vw;
  padding-right: 5vw;
}
.container:first-of-type {
  padding-top: 2vh;
}
.container:last-of-type {
  padding-top: 3vh;
  padding-bottom: 2vh;
}
.container h2 {
  padding-left: 3vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.product-info {
  border: 1px solid #f2f2f2;
  border-radius: 0.5em;
  box-shadow: 0.25em 0.25em 0.625em #f2f2f2;
  width: 58vw;
  height: 38vh;
  background-color: #ffffff;
}
#hashtag-comparison {
  border: 1px solid #f2f2f2;
  border-radius: 0.5em;
  box-shadow: 0.25em 0.25em 0.625em #f2f2f2;
  width: 30vw;
  height: 38vh;
  background-color: #ffffff;
}
#total-analysis {
  border: 1px solid #f2f2f2;
  border-radius: 0.5em;
  box-shadow: 0.25em 0.25em 0.625em #f2f2f2;
  width: 41.5vw;
  height: 45vh;
  background-color: #ffffff;
}
#platform-analysis {
  border: 1px solid #f2f2f2;
  border-radius: 0.5em;
  box-shadow: 0.25em 0.25em 0.625em #f2f2f2;
  width: 41.5vw;
  height: 45vh;
  background-color: #ffffff;
}

.product-img {
  width: 200px;
  height: 200px;
}
.product-detail-info {
  display: flex;
  text-align: left;
  padding-left: 3vw;
  padding-right: 3vw;
}

.product-detail-info-table1 {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  text-align: left;
  padding-left: 5vh;
}
#product-detail-info-table1-basic {
  width: 100%;
  height: 17vh;
  padding-bottom: 1vh;
}
#product-detail-info-table1-basic tr {
  height: 3vh;
}
#product-detail-info-table1-basic tr td:first-child {
  color: black;
  font-weight: bold;
  width: 7vw;
}
#product-detail-info-table1-basic tr td:last-child {
  color: #4b5675;
}

.product-detail-info-table2 {
  display: flex;
  justify-content: first baseline;
  align-items: flex-start;
  text-align: left;
  height: 9.5vh;
  width: 100%;
  padding-top: 1vh;
}
.product-detail-info-table2 tr {
  height: 3vh;
}

.product-detail-info-table2 table:first-child {
  padding-right: 5vh;
}
.product-detail-info-table2-price tr td:first-child {
  color: black;
  font-weight: bold;
  width: 5vw;
}
.product-detail-info-table2-price tr td:last-child {
  color: #4b5675;
  width: 6vw;
  text-align: right;
}
.product-detail-info-table2-etc tr td:first-child {
  color: black;
  font-weight: bold;
  width: 7vw;
}
.product-detail-info-table2-etc tr td:last-child {
  color: #4b5675;
  width: 15vw;
}
.product-info hr {
  color: #dbdfe9;
}
.hashtag-comparison-content {
  display: flex;
  padding-left: 3vw;
  padding-right: 3vw;
  flex-direction: column;
}
.hashtag-comparison-graph {
  display: flex;
  flex-direction: row;
  height: 7vh;
  align-items: center;
  justify-content: first baseline;
}
.hashtag-comparison-bar-graph {
  display: flex;
  justify-content: space-between;
  width: 14.5vw;
}

.hashtag-comparison-bar {
  width: 2.9vw;
  height: 3.5vh;
  background-color: #e0e3e9;
  position: relative;
}
.hashtag-comparison-bar.good {
  background-color: #39a1f4;
}
.hashtag-comparison-bar.normal {
  background-color: #ffce38;
}
.hashtag-comparison-bar.bad {
  background-color: #e25959;
}
.hashtag-comparison-good {
  width: 40px;
  height: 25px;
  padding: 1px;
  border: 2px solid #39a1f4;
  color: #39a1f4;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  line-height: 25px;
}
.hashtag-comparison-normal {
  width: 40px;
  height: 25px;
  padding: 1px;
  border: 2px solid #ffce38;
  color: #ffce38;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  line-height: 25px;
}

.hashtag-comparison-bad {
  width: 40px;
  height: 25px;
  padding: 1px;
  border: 2px solid #e25959;
  color: #e25959;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  line-height: 25px;
}
.hashtags-comparison {
  height: 22vh;
  border-collapse: collapse;
}
.hashtags-comparison th {
  border-bottom: 1px solid #dbdfe9;
}
.hashtags-comparison td {
  color: #4b5675;
  text-align: center;
  border-bottom: 1px dotted #dbdfe9;
  width: 50%;
}

.hashtag-comparison-bar-graph {
  padding-left: 2vw;
}
.total-analysis-content {
  display: flex;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 5vh;
  padding-top: 2vh;
  flex-direction: column;
}

.total-analysis-table td {
  height: 7vh;
}

.total-analysis-table tr td:first-child {
  font-weight: bold;
  width: 8vw;
  font-size: large;
}
.total-analysis-status-null {
  width: 40px;
  height: 25px;
  padding: 1px;
  border: 2px solid #b0b8c8;
  color: #b0b8c8;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  line-height: 25px;
}
.total-analysis-status-good {
  width: 40px;
  height: 25px;
  padding: 1px;
  border: 2px solid #39a1f4;
  color: #39a1f4;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  line-height: 25px;
}
.total-analysis-status-normal {
  width: 40px;
  height: 25px;
  padding: 1px;
  border: 2px solid #ffce38;
  color: #ffce38;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  line-height: 25px;
}

.total-analysis-status-bad {
  width: 40px;
  height: 25px;
  padding: 1px;
  border: 2px solid #e25959;
  color: #e25959;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  line-height: 25px;
}

.total-analysis-table tr td:nth-child(3) p {
  font-size: smaller;
  padding: 3px 0 3px 1vw;
}
.platform-analysis-content {
  display: flex;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 5vh;
  padding-top: 2vh;
  flex-direction: column;
}

.platform-analysis-table td {
  height: 9vh;
}

.platform-analysis-table tr td:first-child {
  font-weight: bold;
  width: 8vw;
  font-size: large;
}

.total-analysis-coment {
  font-size: smaller;
  padding: 3px 0 3px 1vw;
}
.platform-analysis-table tr td:nth-child(2) p {
  font-size: smaller;
  padding: 3px 0 3px 1vw;
}
